:root {
    --text-color: #FCFAFD;
    --text2-color: #EAADF8;
    --background-color: #31023C ;
    --background2-color: #F2F2F3 ;
}
.login {
    position: fixed;
    top: 0;
    background-color: rgba(10, 10, 10, 0.7);
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}
.login .login_container {
    position: relative;
    width: 450px;
    height: 450px;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    border: 1px solid var(--background2-color);
    border-radius: 50%;
}
.login .login_container h1 {
    font-size: 90px;
    margin-top: 20px;
    margin-bottom: 25px;
    padding: 0;
    text-align: center;
    color: var(--background2-color);
}
.login .login_container input {
    border: none;
    border-radius: 20px;
    width: 180px;
    height: 45px;
    margin-bottom: 7px;
    text-align: center;
    background-color: var(--background2-color);
    color: #102b2e;
    font-size: 14px;
    font-weight: 500;
    outline: none;
}
.login .login_container input:focus {
    background-color: white;
    transition: 0.7s;
    width: 350px;
    box-shadow: 0px 0px 10px var(--background-color), 0px 0px 50px var(--background-color), 0px 0px 50px var(--background-color);
}
.login .login_container input:hover {
    background-color: white;
    width: 350px;
    transition: 0.7s;
    box-shadow: 0px 0px 10px var(--background-color), 0px 0px 50px var(--background-color), 0px 0px 90px var(--background-color);
}
::placeholder {
    color: #102b2e;
    opacity: 1;
    font-size: 15px;
    font-weight: 500;
}
.login .login_container button {
    border: 2px solid white;
    border-radius: 7px;
    width: 356px;
    height: 50px;
    margin: 20px 0px 20px 0px;
    text-align: center;
    background-color: white;
    color: rgb(3, 71, 71);
    font-size: 20px;
    font-weight: 900;
    outline: none;
}
.login .login_container button:hover {
    font-size: 25px;
    transition: 0.7s;
    cursor: pointer;
    box-shadow: 0px 0px 10px #102b2e, 0px 0px 50px #102b2e, 0px 0px 90px #102b2e;
    border: 3px solid #102b2e;
}
.closs {
    position: absolute;
    top: 1px;
    right: 25px;
    width: 28px;
    height: 28px;
    background-color: var(--background-color);
    color: var(--text-color);
    text-align: center;
}
.closs:hover {
    cursor: pointer;
    opacity: 0.9;
    transition: 0.5s;
}